<footer class="navbar bg-dark footer">
    <a href="https://github.com/syeda-zaidi/News-Scraper"> 
    <img src="https://icon-library.net/images/github-icon-png/github-icon-png-29.jpg" style="width: 30px;height: 30px;"/>
    </a> 
    <div class="text"> coded by Syeda Zaidi </div>  </footer>
