<footer class="navbar bg-dark footer">
    <a href="https://github.com/syeda-zaidi/News-Scraper"> 
    <img src="/assets/images/github-icon-png-29-inWhite.jpg" style="width: 30px;height: 30px;"/>
    </a> 
    <div class="text"> coded by Syeda Zaidi </div>  </footer>
