<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger scraperBtn">Scrape New Articles</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger clearBtn">Clear Articles</button>
            </li>
        </ul>
    </div>
    <a href="https://github.com/syeda-zaidi/News-Scraper"> 
    <img src="/assets/images/github-icon-png-29-inWhite.jpg" style="width: 30px;height: 30px;"/>
    </a>
</nav>

<div class="jumbotron">
    <div class="background-img">
        <div class="caption text-center">
            <h1> Mongo Scraper </h1>
            <h5> LaTimes Edition </h5>
        </div>
    </div>
</div>

